* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --grey: rgba(205, 223, 223, 0.589);
  --dark: black;
  --light: white;
  --second: rgb(241, 91, 116);

  --shadow: rgba(0, 0, 0, 0.185);
}

/* Grid settings */

body {
  display: grid;
  grid-template-columns: 300px 2fr 1fr;
  grid-template-rows: 200px calc(50vh - 100px) calc(50vh - 100px);
}

header {
  grid-area: 1 / 2 / 2 / 4;
}

aside {
  grid-area: 1 / 1 / 4 / 2;
}

main {
  grid-area: 2 / 2 / 4 / 4;
}

/* Header */

header {
  padding: 20px;
  box-shadow: 1px 1px 10px 1px var(--shadow);
}

.header__first,
.header__second {
  align-items: center;
  justify-content: space-between;
}

.header__first {
  margin-bottom: 30px;
}

header > .flex > .flex {
  align-items: center;
}

.search-bar {
  width: 70%;
}

.profile {
  background-image: url(https://picsum.photos/id/250/367/267);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.search-bar input {
  background-color: var(--grey);
  padding: 0 20px;
  border: none;
  border-radius: 20px;
  width: 100%; /* remove */
  height: 30px; /* remove */
}

.header__profile p {
  font-weight: 600;
}

header button {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: var(--second);
  color: white;
}

.buttons > button + button {
  margin-left: 20px;
}

/* Aside */

aside {
  padding: 20px;
  gap: 50px !important;
  flex-direction: column;
  background-color: black;
  color: var(--light);
}

aside p {
  font-size: 1.2rem;
}

.flex,
li {
  display: flex;
  gap: 15px;
}

li {
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
}

li p {
  transition: all 500ms;
  border-bottom: 3px solid var(--dark);
}

li p:hover {
  border-bottom: 3px solid var(--second);
}

.logo svg {
  width: 40px;
  height: 40px;
}

h1 {
  margin: auto 0;
}

.aside__section svg {
  width: 24px;
  height: 24px;
  margin: 0 8px;
}

/* Main */

main {
  padding: 20px;
  background-color: var(--grey);
}
